/* app css stylesheet */

body {
  padding-top: 20px;
}

.g-red { color:#c00;}

/* ==== [ Contact list sidebar ] ==== */
.clist {}
	.clist__head {
		padding-bottom:20px;
		border-bottom:1px solid #ccc;
	}

	.clist__list { margin:0;}
	.clist__item {
		display:block;
		padding:6px 12px 6px 32px;
		margin-bottom:10px;
		border:1px solid #ccc;
		border-radius:6px;
		-webkit-transition:all .3s ease;
		-moz-transition:all .3s ease;
		-ms-transition:all .3s ease;
		-o-transition:all .3s ease;
		transition:all .3s ease;
	}
	.clist__item:hover {
		text-decoration:none;
		background:#f8f8f8;
	}
	.clist__item.active { background-color:#08c;}

			.clist__item .icon-user {
				position:absolute;
				margin:3px 0 0 -20px;
			}

	    .clist__name { display:block; }
		.clist__group {
		    display:block;
		    color:#333;
	    }

/* ==== [ Single contact ] ==== */
.contact {}
	.contact__edit { margin-bottom:10px;}
		 .contact__edit a { color:#333;}

	.contact__img {
		margin:0 20px 20px 0;
	}
    .contact__ttl {
	    font-size:16px;
    }
        .contact__ttl input {
	        font-size:16px;
	        width:252px;
        }

    .contact__body {
	    overflow:hidden;
    }

    .contact__submit {
	    padding-top:10px;
    }
		 .contact__submit button { margin-right:10px;}

/* ==== [ Dropdown box ] ==== */
.dropdown {}

/* ==== [ Upload ] ==== */
.upload {
	position:relative;
	overflow:hidden;
}
	.upload__input {
		font-size:199px;
		position:absolute;
		z-index:2;
		top:-20px;
		left:-5px;
		height:100%;
		min-height:135px;
		width:100%;
		opacity:0;
		filter:alpha(opacity='0');
		cursor:pointer;
	}

/* ==== [ Edit link ] ==== */
.edit-link {
	position:relative;
	text-decoration:none;
	padding:0 7px;
}

.edit-link:hover {
	color:#c00;
	text-decoration:none;
}

	.edit-link:before,
	.edit-link:after {
		content:"[";
		position:absolute;
		top:-2px;
		left:0;
		-webkit-transition:all .3s ease;
		-moz-transition:all .3s ease;
		-ms-transition:all .3s ease;
		-o-transition:all .3s ease;
		transition:all .3s ease;
		color:#333;
	}
	.edit-link:after {
		content:"]";
		left:auto;
		right:0;
	}

.edit-link:hover:before { left:-3px;}
.edit-link:hover:after { right:-3px;}