<div class="control-group">Search: <input ng-model="query.name"></div>
<div class="control-group">
    <div>Groups:</div>

    <ul class="nav nav-pills nav-stacked">
        <li  ng-click="group=''"><a>All contacts</a></li>
        <li
            ng-repeat="contact in contacts | orderBy:'group' | unique:'group'"
            ng-click="filterByGroup(contact)">
            <a>{{ contact.group }}</a>
        </li>
    </ul>

</div>

<ul class="phones">
    <li ng-repeat="contact in contacts | filter:query:strict | filter:group" class="thumbnail phone-listing">
        <a href="#!/Contacts/{{ contact.id }}">{{ contact.name }}</a>
        <p>{{ contact.snippet }}</p>
        <p>{{ contact.group }}</p>
    </li>
</ul>